---
import { aboutTexts } from '../constants';
import { BaseLayout, Drawer, Footer } from '../imports'

const pageTitle = "Sobre mí - David Orymizak";
---

<BaseLayout title={aboutTexts.title}>
  <Drawer />
    <section id="about" class="py-20 px-6 bg-white dark:bg-gray-900">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-12">{aboutTexts.title}</h2>
    <div class="max-w-5xl mx-auto grid md:grid-cols-2 gap-12 items-center">
        <div class="space-y-4">
        <p>{aboutTexts.desc1}</p>
        <p>{aboutTexts.desc2}</p>
        </div>
        <div class="grid grid-cols-2 gap-4">
        <img src={`/assets/images/${aboutTexts.img1}.jpeg`} alt={aboutTexts.img1} class="rounded shadow-lg animate-fadeIn" />
        <img src={`/assets/images/${aboutTexts.img2}.jpeg`} alt={aboutTexts.img2} class="rounded shadow-lg animate-fadeIn delay-200" />
        <img src={`/assets/images/${aboutTexts.img3}.jpeg`} alt={aboutTexts.img3} class="rounded shadow-lg animate-fadeIn delay-400" />
        <img src={`/assets/images/${aboutTexts.img4}.jpeg`} alt={aboutTexts.img4} class="rounded shadow-lg animate-fadeIn delay-600" />
        </div>
    </div>
    </section>

  <Footer />
</BaseLayout>
