---
import { CONST_DEFAULT_LOCALE, CONST_EMPTY_STRING, CONST_ENGLISH, CONST_SLASH, LOCALE_PREFIX_REGEX } from "../constants";
import { getI18nStaticPaths, getTexts } from "../i18n/index";
import { getRelativeLocaleUrl } from "astro:i18n";

const currentLocale: string = Astro.currentLocale ?? CONST_DEFAULT_LOCALE;
const newLocale: string = currentLocale === CONST_ENGLISH ? CONST_DEFAULT_LOCALE : CONST_ENGLISH;

// limpiar la ruta de prefijo del idioma actual
const pathWithoutLocale = Astro.url.pathname.replace(LOCALE_PREFIX_REGEX, CONST_EMPTY_STRING) || CONST_SLASH;
const switcherUrl = `${CONST_SLASH}${newLocale}${pathWithoutLocale}`;

export const getStaticPaths = getI18nStaticPaths;
const text = getTexts(Astro.params.locale);

export interface Props {}
interface DrawerLink {
  text: string;
  path: string;
}

---

<!-- headers -->
<header class="hidden md:flex fixed w-full z-50 justify-between items-center p-4">
  <div class="text-xl font-bold">{text.drawer.name}</div>
  <nav class="flex space-x-8">
    {text.drawerLinks.map((link: DrawerLink) => (
      <a href={getRelativeLocaleUrl(currentLocale, link.path)}
      class="border border-neon-blue text-neon-blue px-4 py-2 rounded hover:bg-neon-blue hover:text-white transition">{link.text}</a>))}

    <!-- botón cambio de idioma -->
    <a href={switcherUrl}
    class="border border-purple-400 text-purple-400 px-4 py-2 rounded hover:bg-purple-400 hover:text-white transition">
      {newLocale.toUpperCase()}</a>
  </nav>
</header>

<!-- drawer móvil -->
<div class="md:hidden flex justify-between items-center p-4 fixed w-full z-50 bg-transparent">
  <button id="menu-toggle" class="p-2 rounded">{text.drawer.drawer}</button>
  <div class="text-xl font-bold">{text.drawer.name}</div>
</div>

<div id="mobile-menu" style="padding-top: 4rem;"
  class="fixed top-0 left-0 w-40 bg-white dark:bg-gray-900 z-40 h-screen p-6 flex flex-col space-y-4 transform -translate-x-full transition-transform duration-300 md:hidden">
  {text.drawerLinks.map((link: DrawerLink) => (
    <a href={getRelativeLocaleUrl(currentLocale, link.path)}
    class="px-4 py-2 rounded hover:bg-neon-blue hover:text-white transition">{link.text}</a>))}

  <!-- botón cambio de idioma -->
  <a href={switcherUrl}
  class="px-4 py-2 rounded border border-purple-400 text-purple-400 hover:bg-purple-400 hover:text-white transition">
    {newLocale.toUpperCase()}</a>
</div>

<div id="drawer-backdrop"
  class="fixed inset-0 bg-black bg-opacity-50 z-30 opacity-0 pointer-events-none transition-opacity duration-300 md:hidden">
</div>

<script type="module">
  document.addEventListener("DOMContentLoaded", () => {

    const backdrop = document.getElementById("drawer-backdrop");
    const toggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("mobile-menu");

    if (!toggle || !menu || !backdrop) {
      return;
    }

    function closeDrawer() {
      menu.classList.add("-translate-x-full");
      menu.classList.remove("translate-x-0");
      backdrop.classList.add("opacity-0", "pointer-events-none");
      backdrop.classList.remove("opacity-50", "pointer-events-auto");
    }

    // listener para el toggle
    toggle.addEventListener("click", (e) => {
      menu.classList.toggle("-translate-x-full");
      menu.classList.toggle("translate-x-0");
      backdrop.classList.toggle("opacity-0");
      backdrop.classList.toggle("opacity-50");
      backdrop.classList.toggle("pointer-events-none");
      backdrop.classList.toggle("pointer-events-auto");
    });

    // listener para el backdrop
    backdrop.addEventListener("click", (e) => {
      closeDrawer();
    });

    // listener para cada link del drawer
    const drawerLinks = menu.querySelectorAll("a");
    drawerLinks.forEach(link =>
      link.addEventListener("click", (e) => {
        closeDrawer();
      })
    );

    // listener resize
    window.addEventListener("resize", () => {
      if (window.innerWidth >= 768) {
        closeDrawer();
      }
    });
  });
</script>
