---
import InteractiveBG from "../components/InteractiveBG.astro";
import { getI18nStaticPaths, getTexts } from "../i18n";
import Footer from "./Footer.astro";

export const getStaticPaths = getI18nStaticPaths;
const text = getTexts(Astro.params.locale);

---

<InteractiveBG />

<main class="relative z-10">

  <!-- HERO -->
  <section id="home" class="min-h-screen flex flex-col justify-center items-center text-center px-6">
    <h1 class="text-4xl md:text-6xl font-bold mb-6 text-outline text-shadow">{text.home.title}</h1>
    <p class="text-xl md:text-2xl font-semibold mb-2 text-shadow">{text.home.subtitle}</p>
    <p class="text-lg md:text-xl italic mb-6 text-shadow opacity-90">{text.home.subtitle2}</p>
    <p class="text-xl md:text-3xl font-bold mb-2 italic text-shadow">{text.home.subtitle3}</p>
  </section>

  <!-- CV -->
  <section
    id="stack"
    class="py-24 px-6 max-w-6xl mx-auto text-center"
  >
    <h2 class="text-4xl md:text-6xl font-bold mb-6 text-outline text-shadow">
      {text.home.cv}
    </h2>
    <a
  href={text.home.cvURL}
      download
      target="_blank"
      rel="noopener"
      class="
        inline-flex items-center gap-3
        px-6 py-3
        rounded-xl
        font-semibold
        text-white
        bg-gradient-to-r from-purple-500 to-blue-500
        hover:scale-105
        transition-transform
        shadow-lg
      "
    >
      {text.home.download}
    </a>
  </section>

  <!-- CONTACT -->
  <section
    id="contact"
    class="py-24 px-6 text-center"
  >
    <h2 class="text-4xl md:text-6xl font-bold mb-6 text-outline text-shadow">
      {text.home.contactheader}
    </h2>

    <p class="text-lg md:text-xl italic mb-6 text-shadow opacity-90">
      {text.home.contactemail}
    </p>

    <a
      href={`mailto:${text.home.contact}`}
      class="text-xl md:text-3xl font-bold mb-2 italic text-shadow"
    >
      {text.home.contact}
    </a>
  </section>

  <Footer/>
</main>
