---
import InteractiveBG from "../components/InteractiveBG.astro";
import { getI18nStaticPaths, getTexts } from "../i18n/index";
import TechCarousel from "./TechCarousel.astro";

export const getStaticPaths = getI18nStaticPaths;
const text = getTexts(Astro.params.locale);

export interface Props {}

---

<InteractiveBG/>

<section class="text-container">
  <h1 class="text-5xl md:text-6xl font-bold text-white mb-4 text-outline text-shadow p-4 leading-tight">{text.home.title}</h1>
  <p class="text-xl md:text-2xl font-bold text-white mb-2 text-outline text-shadow">{text.home.subtitle}</p>
  <p class="text-xl md:text-1xl font-bold text-white mb-4 text-outline italic text-shadow">{text.home.subtitle2}</p>

  <p class="text-xl md:text-2xl font-bold text-white mb-1 text-outline italic text-shadow">{text.home.subtitle3}</p>

  <p class="text-xl md:text-1xl font-bold text-white text-outline italic text-shadow">
    <a href={`mailto:${text.home.contact}`} class="underline hover:text-neon-blue transition">
      {text.home.contact}
    </a>
  </p>
</section>

<TechCarousel/>
